.container {
  font-family: "Lato", sans-serif;
  padding: 30px;
  align-items: center;
  gap: 30px;
  padding-top: 0;
}

.heading {
  font-weight: 500;
  font-size: 2.1rem;
}

.toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.toolbar button {
  width: 200px;
  height: 40px;
  padding: 10px 16px;
  background-color: darkgreen;
  color: #fff;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
  transform: translate(600px, -72px);
}

.toolbar button svg {
  height: 20px;
  width: 20px;
}

.main {
  display: flex;
  flex-direction:row;
  gap: 30px;
  margin-top:60px;
  margin-left: 200px;
  width: 80%;
}
