
.container {
  min-width: 550px;
  min-height: 450px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: solid 1px #01204e;
  margin: 0 auto;
}

.header {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  border-bottom: 1px solid #01204e8c;
}

.header .section {
  padding: 10px;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.header .active {
  background-color:#01204e;
  color: white;
}

.body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 0;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail .row {
  gap: 20px;
}
.detail .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.chips .new {
  color: #239ce2;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.chip {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 4px 8px;
  background-color: #808080;
  border-radius: 20px;
  cursor: default;
}

.chip p {
  font-weight: 500;
  line-height: 1.25rem;
  color: #fff;
}
.chip svg {
  color: #fff;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.chips .active {
  background-color: #239ce2;
}

.body button {
  font-weight: bold;
  position:absolute;
  height: 40px;
  width: 200px;
  padding: 8px 16px;
  background-color: #e2c523;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1rem;
  letter-spacing: 1px;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
  transform: translate(100px, 770px);
}
