.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 15px;
  font-weight: bold;
  margin: 2px;
}

input {
  outline: none;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1rem;
}

input:hover {
  border: 1px solid #adadad;
}

input:focus {
  border: 1px solid #239ce2;
}
