@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.Iqouter-main{
    height: fit-content;

margin-left: 210px;
padding-left: 10px;
padding-right: 10px;

 
}

.internq-tag{
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;

}

.activityiq{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    color: #001A72;
}

.table{
    margin-left: auto;
    margin-right: auto;
    width: 95%;  
}



.viewicon{
    font-size: 19px;
    margin-top: -4px;
    margin-left: 10px;
}

