.dashtopcontainer {
  width: 100%;

  height: fit-content;
  margin-bottom: 40px;
}

.outer-main3 {

  padding: 10px;
  margin-left: 220px;
  max-width: 100%;
  overflow: hidden;
}

.dashbord-tag {
  font-size: 24px;
  font-weight: 500;
}

.calclockimg {
  margin-top: auto;
  margin-bottom: auto;
  width: 20px;
  height: 20px;
}

.activitytag {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.activity-selector {
  font-weight: 500;
  height: 40px;
  font-size: 16px;
  display: flex;
  width: fit-content;
  border: 1px solid black;
}

.vertical-line3 {
  border-left: 1px solid black;
  border-radius: 25px;
  height: 30px;
  margin-top: 7px;
  opacity: 100%;
}

.minimal3 {
  font-size: 16px;
  float: left;
  background-color: white;
  border: 0px;
}

select.minimal3 {
  background-image: linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
    linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal3:focus {
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.295) 50%,
      transparent 50%
    ),
    linear-gradient(135deg, transparent 50%, rgba(0, 0, 0, 0.295) 50%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: white;
  outline: 0;
}

.searchbox {
  float: right;
  width: 500px;
  margin-right: 3.4%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;

  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  background-color: white;
  outline: 1px solid rgba(0, 0, 0, 0.226);
}

.searchbox:hover {
  outline: 1px solid rgba(0, 0, 255, 0.2);
}

.searchin {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 0;
  padding-left: 10px;
}

.searchin::placeholder {
  text-align: center;
}

.searchin:focus {
  border-color: black;
  outline: 0;
}

.searchicon {
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.dashcentercontainer-outer {
  margin-bottom: 40px;
}

.dashcentercontainer {
  height: max-content;
  margin-right: 3%;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  float: right;
  width: 80%;
  border-radius: 5px;
  height: fit-content;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 1400px) {
  .dashcentercontainer {
    margin-right: 1%;
  }
  .dashlowercontainer {
    margin-right: 1% !important;
  }
}

@media all and (max-width: 1200px) {
  .dashcentercontainer {
    width: 70%;
  }
  .dashlowercontainer {
    width: 70% !important;
  }
  .deatilcomponentimg {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .dashcentercontainer {
    width: 55%;
  }
  .dashlowercontainer {
    width: 55% !important;
  }
}

@media all and (max-width: 992px) {
  .blocksecondhlaf {
    display: none;
  }
}

/* search booooooox */
@media all and (max-width:850px) {
    .searchbox {
        margin-right: 5px;
        width: 280px;
    }
    .searchin {
        width: 80%;
      }
  }
  

  


.dashjobdetailstag {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 24px;
}

.detailcomponenthead {
  min-width: 150px;
  padding: 20px;
}

.detailscomponent {
  text-align: center;
  margin-left: 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.jobcount {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

.jobsposted {
  font-size: 18px;
  font-weight: 500;
}

.deatilcomponentimg-cover {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 5px;
}

.deatilcomponentimg {
  width: 60px;
  height: 60px;
}

.dashlowercontainer {
  height: max-content;
  margin-right: 3%;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  float: right;
  width: 80%;
  border-radius: 5px;
  height: fit-content;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.lowfirstsec {
  /* background-color: pink; */
}

.applicationrev-tag {
  font-size: 18px;
  font-weight: 500;
  margin-left: -10px;
  margin-top: 10px;
}

.blockdetails {
  width: 60%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 5px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.applicaitonsconter {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.applicationsname-tag {
  font-size: 18;
  font-weight: 500;
}

.blockfirsthalf {
  text-align: center;
}

.blocksecondhlaf {
  margin-top: auto;
  margin-bottom: auto;
}

.applcationsicon {
  width: 40px;
  height: 40px;
}

.lowsecondsec {
   margin-top: 20px;
}
