.foot{
  padding: 20px;
  padding-bottom: 0px;
  color:white;
  background-color:#0F0F27;
}

.footer-bottom{
  text-align:center;
  background-color:#0F0F27;
}

.footer-header{
  color:white;
  background-color:#0F0F27;
}

.footer-header1{
  color:white;
  background-color:#0F0F27;
  font-size: 25px;
}

h6{
  margin:20px;  

}

.img2{
  margin:20px;
  margin-left: 0;
  margin-top: -90px;
}

.footer-container{
  margin:0;
}

.linkref{
  margin-left: 500px;
  margin-top: -85px;
}


.footertopic{
  margin-left: 30px;
  margin-top: 20px;
}