.forum-left {
    padding: 10px;
    transition: .2s;
    margin-left: auto;
    margin-right: auto;
  }

.commentinputarea{

    margin-left: auto;
    margin-right: auto;
}

  .commmentinput{
    margin-top: 20px;
    height: 200px;
}

.addcomtbtn{
    margin-top: 10px;
    width: 150px;
    float: right;
    transition: .2s;
}

.commentsarea{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.commentstag{
    font-weight: 500;
    margin-bottom:-10px;
}

.commentstaghr{
    border-radius: 25px;
    opacity: 20%;
}

.commentbox{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.commmentbox-left{
    margin-top: auto;
    margin-bottom: auto;
}

.commenterprofpic{
    border-radius: 100%;
    width: 40px;
}

.commentatornametag{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: auto;
}

.comment{
    opacity: 70%;
    font-size: 15px;
}

.commentboxmid{

}

.commnetboxrgt{

    margin-left: auto;
    margin-right: auto;
    text-align: end;
}

.counter{
    font-weight: 500;
    margin-bottom: auto;

}

.deleteicon{
    font-size: 17px;
    transition: .2s;
}


.deleteicon:hover{
    font-size: 18px;
    color: red;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .qintractsect{
        margin-left: auto;
        margin-right: auto;
    }
    .addcomtbtn{
        width: 120px;
        font-size: 12px;
    }
    
}  
.editbtnsfx{
    position: relative;
    margin-top: -110px;
    float:right;

        transition: 1s;
}

.editbtnsfx :hover{
    font-size: 20px;
    cursor: pointer;
    color: #3366CC ; 
    text-decoration: underline;
}