.jobsearch{
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
}

.sortline{
    display: flex;
    justify-content: space-between;
    background-color:aqua ;
}

.sortlineinner{
    display: flex;
}

.pres{
    margin-right: 5px;
}

.resultcount{
    font-weight: 500;
}

.searchmid{
    background-color: aquamarine;
    margin-left: 0px;
    margin-right: 0px;
}

.serachmidleftside{
    padding: 5px 10px;
    margin-left: 0px;
    background-color: #0F0F27;
    color: white;
}

.filterbox{
    background-color: palegoldenrod;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.filter-icon{
    font-size: 22px;
}

.filter-tag{
    margin-left: 10px;

    margin-top: auto;
    margin-bottom: auto;
}

.serachmidrgtside{
    background-color: bisque;
}