.jobsearch{
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
}

.sortline{
    display: flex;
    background-color:aqua ;
}

.pres{
    margin-right: 5px;
}

.resultcount{
    font-weight: 500;
}