.outer-container{
    display: block;
    height: max-content;
    width: 100%;
}

.outer-container .top-layer {
    display: grid;
    grid-auto-flow: column;

  }

.top-layer .quiz-name{
    margin-left: 4%;
    margin-top: 10px;
    font-size: 32px;
    color: #21618C ;
    font-weight: bolder;
}

.top-layer .time-box{
    font-size: 32px;
    margin-left: -10%;
    color: #1A5276;
    font-weight: bolder;
    background-color: red !important;
  }

  .time-box .time{
    margin-top: -20px;
  }

  .q-number{
    height: max-content;
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 2.5%;
    margin-top: 50px;
    font-weight: bold;
    color: #154360;
  }
   
  .outer-container .mid-layer{
    display: block;
    height: max-content;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
  }

  .mid-layer .mcq{
    padding: 20px;
    padding-bottom: 70px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  }
  
.mid-layer .question{
    margin-left: 10px;
    font-weight: bold;
}

.mid-layer .choices{
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    position: relative;
  
}

  .mid-layer .options{
    font-weight: bold;
    display: inline;
    padding-right: 10px;
  }

  .mid-layer .answer{
    display: inline;
  }

  .label-set{
    margin-left: 10px;
  }

  .answer .form-check-label{
    margin-left: 10px;
  }
.mcq .flag_btn{
    border: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0px 20px;
    width: fit-content;
    height: fit-contents;
    float: right;
}

.flag_btn .btn_gap{
    margin-left: 10px;
}

.mcq .flag_btn:hover{
    background-color: red;
    color: white;
}

.next_back{
  display: flex;
  justify-content: center ;
  width: 100%;
  margin-top: 10px;
}

.next_back .navbtns{
margin-left: 5px;
margin-right: 5px;
  width: 100px;
  border: 0px;
  border-radius: 50px;
  background-color: #21618C;
  color: white;
}

.navbtns:hover{
  background-color: #21618cb2;
}


.mid-layer .qnum{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 150px;
  max-width: 300px;
}


.qnum .quiz-nav{

}


.qnum-block {
  width: 70%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.qnum-block .q_number{
  display: inline;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 40px;
  background-color: lightgrey;

}

.leftside{
}

.statusss{
  background-color: red;
}

